body {
  background-color: grey;
}

#Nome {
  background: yellow;
}

#Cabeçalho {
  color: black;
}

.FormaçaoProficional {
  color: dodgerblue;
  background: url(./Imagens/AjudanteDeEletricista.jpg)center/cover no-repeat fixed;
}

.eletricista {
  color: rgb(106, 255, 20);
  background-color: #0000;
}

.Texto-Vermelho {
  color: red;
  background-color: black;
}

.ExperienciaP {
  color: ;
}

#Eletricista {
  /*background-image: url(./Imagens/AjudanteDeEletricista.jpg);
  /*background-repeat: no-repeat;*/
  /*papel de parede nao repetido*/
  /*background-size: cover; /*papel de parede unico*/
  /*background-attachment: scroll; /*papel de parede nao rola com o scroll*/
  /*background-position: center; /*papel de parede centraliuzado na pagina*/
  background: url(./Imagens/AjudanteDeEletricista.jpg) center/cover no-repeat fixed;
}

.CuidadorDeIdoso {
  background: url(./Imagens/AjudanteDeIdosos.jpg) center/cover no-repeat fixed;
}

#AjudanteDePedreiro {
  background: url(./Imagens/AjudanteDePedreiro.jpg) center/cover no-repeat fixed;
}

/*unidades Absolutas*//*
#cm {
  background-color: blue;
  width: 1cm;
  height: 1cm;
}

#mm {
  background-color: red;
  width: 5mm;
  height: 5mm;

}

#in {
  background-color: blueviolet;
  width: 1in;
  height: 1in;
  /*in 1=Polegada=2,54cm*/
}
/*
#px {
  background-color: yellow;
  width: 38px;
  height: 38px;
}

#pt {
  background-color: aqua;
  width: 20pt;
  height: 20pt;
}

#pc {
  background-color: blue;
  width: 1pc;
  height: 1pc;
  /*pc=picks=12ponts=12pixel
}*/